*_trial_temp*
*.pyc
*.tgz
VERSION
INFO
dist
MANIFEST
*.swp
twistd.log
twistd.pid
.coverage
*htmlcov*
*build
doc/html/*.html
doc/html/api/*.html
RELEASE-VERSION
version.py
child.log
monitor.lock
.coverage.*
